#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_JAILHOUSE_INTEL64

config COMM_REGION_BASE
	int "Jailhouse comm region base address"
	default 0x40000000
	---help---
		The base address of communication region with jailhouse

menuconfig NET_IVSHMEM_NET
	bool "IVShmem based Ethernet"
	default n
	---help---
		A ivshmem-net model based on ivshmem 2.

if NET_IVSHMEM_NET

config NET_IVSHMEM_NET_RX_DESC
	int "Number of RX descriptors"
	default 64

config NET_IVSHMEM_NET_TX_DESC
	int "Number of TX descriptors"
	default 32

config IVSHMEM_NET_MAC_ADDR
	hex "MAC0 address location"
	default 0xdeadbeef00

config IVSHMEM_NET_IPADDR
	hex "Target IP address"
	default 0xac100002

config IVSHMEM_NET_DRIPADDR
	hex "Default Router IP address (Gateway)"
	default 0xac100001

config IVSHMEM_NET_NETMASK
	hex "Network Mask"
	default 0xffffff00

choice
	prompt "Work queue"
	default IVSHMEM_NET_LPWORK if SCHED_LPWORK
	default IVSHMEM_NET_HPWORK if !SCHED_LPWORK && SCHED_HPWORK
	depends on SCHED_WORKQUEUE
	---help---
		Work queue support is required to use the ivshmem-net driver.  If the
		low priority work queue is available, then it should be used by the
		ivshmem-net driver.

config IVSHMEM_NET_HPWORK
	bool "High priority"
	depends on SCHED_HPWORK

config IVSHMEM_NET_LPWORK
	bool "Low priority"
	depends on SCHED_LPWORK

endchoice # Work queue

endif

config ENABLE_C1_STATE
	bool "Enable C1 state on idle"
	default n
    depends on !SCHED_TICKLESS
	---help---
		Enable C1 State during idle to save power.

endif
